<main>
  <article class="container-information">
    <h1>Sobre</h1>
    <section class="about">
      <h2>Objetivo</h2>
      <p>
        O projeto Good Tech foi desenvolvido exclusivamente para o âmbito educacional, para a matéria de acessibilidade, sendo lecionada pela Prof.ª Angela. Na escola ETEC Dr. Emílio Hernandez Aguilar. Aonde trabalhamos com diversas tecnologias e as diversas maneira que podemos trabalhar a acessibilidade digital, incluindo todo tipo de público ao nosso site.
      </p>
    </section>
    <section class="result">
      <h2>Resultado</h2>
      <p>
        Ao final deste projeto concluimos um site completamente funcional, onde nele é possivel cadastrar e acessar qualquer pesquisa sobre acessibilidade, adicionando que além da possibilidade do cadastro e acesso de pesquisas também é possivel logar na conta e cadastrar projetos. A aba de projetos no site tem toda a documentação para a realização do projeto, incluido desde analise de requisitos até a criação do design das páginas.
      </p>
    </section>
    <h1>Integrantes</h1>
    <section class="author">
      <ul class="container-img-authors">
        <li>
          <img src="{{URL}}/resources/img/integrantes/joao.jpeg" alt="João">
          <h3>João Vitor</h3>
        </li>
        <li>
          <img src="{{URL}}/resources/img/integrantes/sachetto.jpeg" alt="Gustavo Sachetto">
          <h3>Gustavo Sachetto</h3>
        </li>
        <li>
          <img src="{{URL}}/resources/img/integrantes/patrick.jpeg" alt="Patrick">
          <h3>Patrick</h3>
        </li>
        <li>
          <img src="{{URL}}/resources/img/integrantes/gualda.jpeg" alt="Gustavo Gualda">
          <h3>Gustavo Gualda</h3>
        </li>
      </ul>
    </section>
  </article>
</main>