<footer class=" d-flex justify-content-between flex-row navbar navbar-expand-lg navbar-light bg-light pt-3 border-top pb-5">
    <div class="container">
        <section>
            <article class="d-flex flex-column">Criado por: 
                <a href="">Gustavo Sachetto</a> 
                <a href="">Gustavo Gualda</a>
                <a href="">João Vitor</a>
                <a href="">Patrick</a>
            </article>
        </section>
        <section>
            <article class="d-flex flex-column">Numeros para contato: 
                <div>11 940028922</div> 
                <div>11 940028922</div> 
                <div>11 940028922</div> 
                <div>11 940028922</div> 
            </article>
        </section>
        <section>
            <article class="d-flex flex-column">Veja o repositório do projeto 
                <a href="">Repositório do projeto</a> 
                <a href="">Repósitório do Framework</a>
            </article>
        </section>
    </div>
</footer>