<header class="container-nav">
  <a href="{{URL}}" class="logo">
    <img src="{{URL}}/resources/img/logo.png" alt="Logotipo">
    <span class="title">good-tech</span>
  </a>
  <nav class="navbar">
    <div class="dropdown">
      <button class="btn-line light-blue" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Pesquisas
      </button>
      <ul class="dropdown-menu mt-2">
        <li><a class="dropdown-item" href="{{URL}}/pesquisas">Buscar</a></li>
        <!-- <li><a class="dropdown-item" href="{{URL}}/pesquisas/alterar">Alterar</a></li> -->
        <li><a class="dropdown-item" href="{{URL}}/pesquisas/cadastrar">Cadastrar</a></li>
        <!-- <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{{URL}}/pesquisas/deletar">Deletar</a></li> -->
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn-line light-blue" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Projetos
      </button>
      <ul class="dropdown-menu mt-2">
        <li><a class="dropdown-item" href="{{URL}}/projetos">Buscar</a></li>
        <li><a class="dropdown-item" href="{{URL}}/projetos/cadastrar">Cadastrar</a></li>
      </ul>
    </div>
    <a href="{{URL}}/sobre" class="btn-line light-blue">Sobre</a>
    <a href="{{URL}}/{{route}}" class="btn-login">{{status}}</a>
  </nav>
</header>