footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  background-color: var(--dark-blue);
}

footer nav, footer span, footer a {
  font-size: 16px;
  color: var(--white);
}