<main class="container">
    <article>
        <section class="text-center mt-4">
            <h1>Sobre nós</h1>
            <p>
                O projeto Good Tech foi desenvolvido exclusivamente para o âmbito educacional,
                para a matéria de acessibilidade, sendo lecionada pela Prof.ª Angela. Na escola ETEC
                Dr. Emílio Hernandez Aguilar. Aonde trabalhamos com diversas tecnologias e as diversas
                maneira que podemos trabalhar a acessibilidade digital, incluindo todo tipo de público
                ao nosso site.
            </p>
        </section>
        <section>
            <h3>
                Esse projeto foi desenvolvido por:
            </h3>
            <article class="d-flex justify-content-center row">
                <div class="card me-2 mb-4 col-sm" style="width: 18rem;">
                    <img src="https://avatars.githubusercontent.com/u/104951600?v=4" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3>Gustavo Gualda</h3>
                    </div>
                </div>
                <div class="card me-2 mb-4 col-sm" style="width: 18rem;">
                    <img src="https://avatars.githubusercontent.com/u/136517074?v=4" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3>Gustavo Sachetto</h3>
                    </div>
                </div>
                <div class="card me-2 mb-4 col-sm" style="width: 18rem;">
                    <img src="https://avatars.githubusercontent.com/u/136517074?v=4" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3>Patrick Felix</h3>
                    </div>
                </div>
                <div class="card mb-4 col-sm" style="width: 18rem;">
                    <img src="https://avatars.githubusercontent.com/u/136517074?v=4" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3>João Vitor</h3>
                    </div>
                </div>
            </article>
        </section>
    </article>
</main>