<main class="container">
    <article>
        <section class="d-flex justify-content-center border-0 border-bottom border-1 px-5 py-5 border row">
            <div class="px-5 py-5 col-md-6">
                <h1>Introdução do site</h1>
                <p>
                    Este site se trata sobre acessibilidade digital trazendo diversos projetos, pesquisas e informações úteis. Trantando dessa forma, a possibilidade de fazer com que pessoas com certa deficiência consiga utilizar qualquer tipo de sistema. 
                </p>
                <a href="#" class="btn btn-secondary">Saiba mais</a>
            </div>
            <img src="{{URL}}/resources/img/Representacao.webp" alt="Representacao" style="max-width: 550px;border-radius: 50px;">   
        </section>
        <section class="d-flex justify-content-center container-fluid mt-5 text-center row">
            <div class="mx-5 col-sm">
                <h2>Pesquisa desenvolvidas</h2>
                <p>
                    Toda pesquisa desenvolvida nesse projeto estará postada na página (Pesquisas) aqui do site.
                </p>
            </div>
            <div class="mx-5 col-sm">
                <h2>Ferramentas utilizadas</h2>
                <p>
                    Texto em andamento...
                </p>
            </div>
            <div class="mx-5 col-sm">
                <h2>Projetos criados</h2>
                <p>
                    Todos nossos projetos realizados para trazer bibliotecas sobre acessibilidade digital, ficaram disponiveis na aba de projetos aqui no site. Estes projetos estam disponiveis para visualização e teste do mesmo.
                </p>
            </div>
        </section>
    </article>
</main>
