<main class="d-flex mt-2 p-5 flex-wrap justify-content-center">
    <form  method="post" action="" class="card px-3 py-4 rounded-4 border-1" style="width: 600px;">
        <h2 class="card-title mb-3">Conta</h2>
        <div class="mb-3">
          <h5 class="fw-normal">Bem-vindo <strong>{{user}}</strong>!</h5>
          <span>Você está logado com: <strong class="fw-semibold">{{email}}</strong>.</span>
        </div>
        <button type="submit" class="btn btn-danger">Sair</button>
    </form>
</main>