<main class="d-flex my-5 p-5 flex-wrap justify-content-center ">
    <form  method="post" action="" class="card px-3 py-4 rounded-4 border-1" style="width: 600px;">
        <h2 class="card-title mb-3">Criar conta.</h2>
        {{alert}}
        <div class="mb-3">
          <label htmlFor="name" class="form-label">Nome <span class="text-danger">Obrigatório</span></label>
          <input 
            id="name" 
            type="name" 
            name="name" 
            class="form-control"
            placeholder="João Batista" 
          />
        </div>
        <div class="mb-3">
          <label htmlFor="email" class="form-label">Endereço de email <span class="text-danger">Obrigatório</span></label>
          <input 
            id="email" 
            type="email" 
            name="email" 
            class="form-control"
            placeholder="exemple@email.com" 
          />
        </div>
        <div class="mb-3">
          <label htmlFor="password" class="form-label">Senha <span class="text-danger">Obrigatório</span></label>
          <div class="input-group">
            <input 
              id="password" 
              type="password"
              name="password" 
              class="form-control" 
              placeholder="********"
            />
          </div>
        </div> 
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</main>