<article class="d-flex flex-column col-sm mb-5">
        <img src="{{URL}}/resources/img/post/{{image}}" alt="Imagem de pesquisa recente" style="border-radius: 15px" class=" w-100 img-fluid">
        <div class="text-center bg-primary pt-3 px-3"
            style="margin-top: -30px; border-radius: 0px 0 20px 20px; min-width: 100%;">
            <a href="{{URL}}/pesquisa/{{id}}" target="_blank" class="text-light text-decoration-none">
                <h5 style="margin-top: -10px;">{{title}}</h5>
                <p style="margin: -9px 0 5px 0;">{{created_at}}</p>
            </a>
        </div>
</article>