<article class="d-flex justify-content-center align-items-center flex-column col-sm mb-5">
        <img src="{{URL}}/resources/img/post/{{image}}" alt="" style="border-radius: 20px" class=" w-75 img-fluid">
        <div class="text-center bg-primary pt-3 px-3"
            style="margin-top: -30px; border-radius: 0px 0 20px 20px; min-width: 75%;">
            <a href="{{URL}}/pesquisa/{{id}}" target="_blank" class="text-light text-decoration-none">
                <h4 style="margin-top: -10px;">{{title}}</h4>
                <p style="margin: -9px 0 5px 0;">{{created_at}}</p>
            </a>
        </div>
</article>