<main>
  <article class="container-introduction">
    <section class="about">
      <h1>Introdução</h1>
      <p>
        Este site se trata sobre acessibilidade digital trazendo diversos projetos, pesquisas e informações úteis. Trantando dessa forma, a possibilidade de fazer com que pessoas com certa deficiência consiga utilizar qualquer tipo de sistema.
      </p>
      <a href="{{URL}}/sobre" class="btn-default orange my-3">Saiba mais</a>
    </section>
    <aside class="illustration">
      <img src="{{URL}}/resources/img/ilustracao.jpg" alt="Ilustração">
    </aside>
  </article>
</main>